.search_container {
  width: 100%;
  height: 107px;
  gap: 0px;
  opacity: 0px;
  background-color: rgba(239, 239, 244, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .search_input {
    width: 481px;
    height: 46px;
    margin: 12px;
    padding: 10px 30px 10px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
}
