.results_container {
  position: absolute;
  top: 5.6rem;
  left: 60rem;
  transform: translateX(-50%);
  width: 481px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 350px;
  overflow-y: auto;
  padding: 10px 20px 0px 20px;
  margin: 0;
  z-index: 10;
  overflow-x: hidden;
}

.results_list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.result_item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 15px;
}

.result_item:hover {
  background-color: #f0f0f0;
}

.result_image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.result_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.result_name {
  font-size: 14px;
  color: gray;
}

.result_username {
  font-weight: bold;
}

.result_followers {
  margin-left: auto;
  font-size: 14px;
  color: gray;
}
